.content {
  align-items: center;
  text-align: center;
  background-color: rgb(247, 247, 247);
  width: 40rem;
  height: auto;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid black;
  /* aspect-ratio: 1 /1; */
}
.content h1 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.content h2 {
  margin-bottom: 0.5rem;
}
.content h4 {
  /* text-transform: capitalize; */
}
